<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>We Love Bread!</title>
</head>
<body>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    [ <a href="index">Index</a> | <a href="customers">Customers</a> | <a href="bakeries">Bakeries</a> | <a href="orders">Orders</a> | <a href="products_has_orders">Order Details</a> |
    <a href="products">Products</a> | <a href="product_categories">Product Categories</a> ]


    {{{body}}}

</body>
</html>