<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>We Love Bread!</title>
</head>
<body>
    [ <a href="index">Index</a> | <a href="customers">Customers</a> | <a href="bakeries">Bakeries</a> | <a href="orders">Orders</a> | <a href="products_has_orders">Order Details</a> |
    <a href="products">Products</a> | <a href="product_categories">Product Categories</a> ]


    {{{body}}}

</body>
</html>