<h1>We Love Bread!</h1>
<h2>Select a page below to explore our database</h2>

[ <a href="index">Index</a> | <a href="customers">Customers</a> | <a href="bakeries">Bakeries</a> | <a href="orders">Orders</a> |
<a href="products">Products</a> | <a href="product_categories">Product Categories</a> | <a href="products_has_orders">Products Has Orders</a>]
