{{!-- // Citation for this code:
// Date: 3/2/23
// Based on NodeJS Starter App, written for CS 340
// https://github.com/osu-cs340-ecampus/nodejs-starter-app --}}
 
<h1>Product Categories</h1>

<h2>Browse Product Categories</h2>

   
<!-- Table of Product Categories -->
<table id="product-categories-table" border="1" cellpadding="5">

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the id, fname, lname, homeworld and age, in order --}}
        {{#each data}}
        <tr data-value={{this.product_category_id}}>
            <td>{{this.product_category_id}}</td>
            <td>{{this.category_name}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>

<!-- Add Product Category -->
<h2>Add a Product Category</h2>
<p>To add a new product category, please enter the information below and click `Submit`!</p>
<form id="add-product-category-form" method="POST" action="/add-product-category-form">
    <label for="input-category-name">Name: </label>
    <input type="text" name="input-category-name" id="input-category-name-ajax" required>

    <input type="submit">
</form>
